# Ignore system and user-specific files
**/AppData/
**/Documents/
**/OneDrive/
**/Downloads/
**/Videos/
**/Pictures/
**/Saved Games/
**/Desktop/
**/ntuser.dat*
**/.bash_history
**/.vscode/
**/.ipynb_checkpoints/

